use admin
db.auth("{{ hostvars[inventory_hostname]['db_cluster_admin_username']  }}", "{{ hostvars[inventory_hostname]['db_cluster_admin_password']  }}");
rs.add("{{ groups['secondary'][0] }}:27017");
rs.add("{{ groups['secondary'][1] }}:27017");
