# use admin
# db.auth("{{ hostvars[inventory_hostname]['db_cluster_admin_username']  }}", "{{ hostvars[inventory_hostname]['db_cluster_admin_password']  }}");
rs.initiate({_id: "rs0", members: [{_id: 0, host: "{{ groups['primary'][0] }}:27017"}]});
